# Default owners for all files
* @ScottGibb

# Override the default owners and remove ownership for specific files
Cargo.toml
requirements.txt

# Override the default owners and remove ownership for the .github/workflows directory
.github/workflows/
